# theme = "light:Atom One Light,dark:Atom One Dark"
# theme = "light:Zenbones Light,dark:Zenbones Dark"
# theme = "light:Gruvbox Light,dark:Gruvbox Dark"
# theme = "light:Melange Light,dark:Melange Dark"
# theme = "light:Zenwritten Light,dark:Zenwritten Dark"
# theme = "light:One Double Light,dark:One Double Dark"
theme = "light:Monokai Pro Light,dark:Monokai Pro"
macos-titlebar-style = "tabs"
# gtk-titlebar-style = "tabs"
window-decoration = none
keybind = shift+insert=paste_from_clipboard
app-notifications = false
maximize = true
cursor-style = block
cursor-style-blink = false
shell-integration-features = no-cursor
